<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="crossbrowser">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="tests.CrossBrowserTests"/>
    </classes>
  </test> <!-- crossbrowser -->
  
  <test  name="crossbrowser1">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="tests.CrossBrowserTests"/>
    </classes>
  </test> <!-- crossbrowser -->
  
</suite> <!-- Suite -->
